@charset "UTF-8";
@import url('https://fonts.google.com/share?selection.family=Rubik%20Moonrocks');

.navbar{
    background:linear-gradient(178deg,rgb(255, 255, 255) 50%,rgb(184, 170, 170));
}

.navbar-brand{
    width:35px;
}

.navbar-logo{
    width: 100%;
}

.offcanvas{
    border:none !important;
}
.offcanvas-backdrop {
    background-color: transparent;
  }

.offcanvas-header{
    background:linear-gradient(160deg,rgb(255, 255, 255) 50%,rgb(184, 170, 170));
}

.offcanvas-body{
    font-family: 'Rubik Moonrocks', cursive;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    padding: 0 !important;
}

.filter-white{
    filter: brightness(0) invert(1);
}

.frame {
  height: 100%; 
  width: 100%;
  border-radius: 2px;
  box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.6);
  overflow: hidden;
  background: #fff;
  font-family: "Fira Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boxes {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.boxes .box {
  position: relative;
  flex: 1 1 auto;
  width: 20%;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  box-shadow: 0.2rem 0 0.2rem rgba(0, 0, 0, 0.6);
}

.boxes .box .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  font-size: 1.3rem;
  color: transparent;
  transition: all 0.5s ease-in-out;
}

.boxes .box.one {
    background: #cccccc;
}

.boxes .box.one .text {
  margin-left: 1rem;
}

.full {
  width: 400px;
}

.hide {
  width: 0;
}

.boxes .box.two {
    background: rgb(185, 185, 185);
}

.boxes .box.two .text {
  margin-left: 1rem;
}

.boxes .box.three {
    background: #aaa9a9;
}

.boxes .box.four {
    background: #9e9d9d;
    width: 80%;
}

.boxes .box.four .text {
  transform: translate(-50%, -50%) scale(1);
  color: white;
  margin-left: 1rem;
}

.boxes .box:hover {
  width: 100%;
}

.boxes .box:hover .text {
  color: #fff;
  transform: translate(-50%, -50%) scale(1);
}

.boxes .box:hover .four {
  opacity: 0;
  color: transparent;
  transform: translate(-50%, -50%) scale(0);
}

.box .icon {
  color: white;
  align-self: center;
  font-size: 2rem;
  padding-left: 1.3rem;
}

#user-settings{
  position: absolute;
  top:100%;
  left:100%;
  width:100%;
}

#user-information h5{
  align-self: center !important;
  margin-top: 7px;
}

@media screen and (max-width: 480px) {
  #user-settings{
    left: 5% !important;
  }
  .navbar .container{
    padding: 0 !important;
  }
  #menu-in-close{
    display: block !important;
  }
}

#menu-in-close{
  position: absolute !important;
  top:0 !important;
  left:87% !important;
  z-index: 99999999999999999999999999999 !important;
  display: none;
}
#menu-in-close svg{
  font-size: 30px;
  color:white;
}

#user-settings .list-group-item svg{
  margin-right: 10px;
}